# Lessons (include only specific lessons)
lessons/*
!lessons/lesson_01.txt
!lessons/lesson_02.txt

#ChromaDb
chroma_langchain_db/*

# Environment
.env

# Database files
langgraph_weaviate*

# Notebooks
test.ipynb

# VSCode
.vscode/
